{% load static %}

<aside>

    <div class="top">
        <div class="logo">
            <img src="{% static "condosync/images/CondoSync (png).png" %}" alt="CondoSync logo">
            <h2>CONDOSYNC</h2>
        </div>
    </div>
    <!-- end top -->

    <div class="sidebar">
        <h4>Menu Principal</h4>
        <a href="{% url "condosync:home" %}" id="menu-home">
            <i class='bx bx-home-alt' id="icon-home"></i>
            <h3>Home</h3>
        </a>
        <a href="{% url "condosync:avisos" %}" id="menu-avisos">
            <i class='bx bx-bell' id="icon-avisos"></i>
            <h3>Avisos</h3>
        </a>
        <a href="{% url "condosync:ocorrencias" %}" id="menu-ocorrencias">
            <i class='bx bx-pencil' id="icon-ocorrencias"></i>
            <h3>Ocorrências</h3>
        </a>
        <a href="{% url "condosync:boletos" %}" id="menu-boletos">
            <i class='bx bxs-file-doc' id="icon-boletos"></i>
            <h3>Boletos</h3>
        </a>
        <a href="#" id="menu-reservas">
            <i class='bx bx-football' id="icon-reservas"></i>
            <h3>Reservas</h3>
        </a>
        <a href="{% url "condosync:funcionarios" %}" id="menu-funcionarios">
            <i class='bx bxs-user' id="icon-funcionarios"></i>
            <h3>Funcionarios</h3>
        </a>
        {% if user.is_superuser %}
        <a href="#" id="menu-visitantes">
            <i class='bx bx-door-open' id="icon-visitantes"></i>
            <h3>Visitantes</h3>
        </a>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <a href="{% url "userauth:logout" %}" id="menu-logout">
                <i class='bx bx-log-out' id="icon-logout"></i>
                <h3>Logout</h3>
            </a>
        </form>
    </div>
    
</aside>

