{% load static %}

<aside>

    <div class="top">
        <div class="logo">
            <img src="{% static "condosync/images/CondoSync (png).png" %}" alt="CondoSync logo">
            <h2>CONDOSYNC</h2>
        </div>
    </div>
    <!-- end top -->

    <div class="sidebar">
        <h4>Menu Principal</h4>
        <a href="{% url "condosync:home" %}">
            <i class='bx bx-home-alt' ></i>
            <h3>Home</h3>
        </a>
        <a href="{% url "condosync:avisos" %}">
            <i class='bx bx-bell'></i>
            <h3>Avisos</h3>
        </a>
        <a href="#">
            <i class='bx bx-pencil' ></i>
            <h3>Ocorrências</h3>
        </a>
        <a href="{% url "condosync:boletos" %}">
            <i class='bx bxs-file-doc' ></i>
            <h3>Boletos</h3>
        </a>
        <a href="#">
            <i class='bx bx-football' ></i>
            <h3>Reservas</h3>
        </a>
        <a href="#">
            <i class='bx bxs-user'></i>
            <h3>Funcionarios</h3>
        </a>
        {% if user.is_superuser %}
        <a href="#">
            <i class='bx bx-door-open'></i>
            <h3>Visitantes</h3>
        </a>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <a href="{% url "userauth:logout" %}">
                <i class='bx bx-log-out' ></i>
                <h3>Logout</h3>
            </a>
        </form>
    </div>
    
</aside>