@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/************************************
             COLORS
************************************/

:root {
    /******* Primary Colors *********/

    --clr-primary: #7380ec;
    --clr-danger: #ff7782;
    --clr-success: #41f1b6;
    --clr-white: #fff;
    --clr-info-dark: #7d8da1;
    --clr-info-light: #dce1eb;
    --clr-dark: #363949;
    --clr-warnig: #ff4edc;
    --clr-light: rgba(132, 139, 200, 0.18);
    --clr-primary-variant: #111e88;
    --clr-dark-variant: #677483;
    --clr-color-background: #f6f6f9;

    /******* Messages Colors *********/

    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;
    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body{
    background-color: #c9d6ff;
    background-image: url("/static/userauth/images/condo_roxo.png");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 758px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.toggle-left h1,
.toggle-right h1 {
    display:flex;
    align-items: center;
    justify-content: center;
}

.toggle-left h1 img,
.toggle-right h1 img{
    width: 70px;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.container.active .sign-in {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.container.active .sign-up {
    opacity: 1;
    visibility: visible;
    transform: translateX(100%);
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0,6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 100;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0 #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

.input-row {
    display: flex;
    gap: 10px;
    width: 100%;
}

.input-row input {
    width: 50%;
}


.check-box-usuario,
.check-box {
    display: flex;
    flex-direction: column;
}

.check-box-usuario label,
.check-box label {
    font-size: 14px;
    margin-top: -5px;
    cursor: pointer;
}

.check-box-usuario input[type="checkbox"],
.check-box input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: 2px solid #c7c7c7;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.check-box-usuario input[type="checkbox"]:checked,
.check-box input[type="checkbox"]:checked {
    border-color: #0e80fb;
    background-color: #0e80fb;
}

.check-box-usuario input[type="checkbox"]:checked::before,
.check-box input[type="checkbox"]:checked::before {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.input-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#admin-password-field {
    display: none;
    width: 100%;
    margin-top: 10px;
}

#admin-password-field input {
    width: 100%;
    height: 40px;
    background-color: #eee;
    color: #000;
    border-radius: 12px; 
    padding: 10px 15px;
    font-size: 13px; 
    outline: none;
}

/************* Messages ****************/
.message {
    color: var(--color-dark-text);
    text-align: center;
  }
  .message-error {
    color: var(--color-error-dark);
  }
  .message-success {
    color: var(--color-success-dark);
  }
  .message-warning {
    color: var(--color-warning-dark);
  }
  .message-alert {
    color: var(--color-alert-dark);
  }
  .message-info {
    color: var(--color-info-dark);
  }
  .message-debug {
    color: var(--color-debug-dark);
  }
