{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CondoSync | Avisos</title>
    <link rel="stylesheet" href="{% static 'condosync/css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <!-- side bar section start -->
        {% include "condosync/partials/sidebar.html" %}
        <!-- side bar section end -->

        <!-- main section start -->
        <main>
            <div class="dashboard">
                <i class='bx bxs-bell'></i>
                <h1>AVISOS</h1>
            </div>
            
            <div class="bnt-container">
                {% if user.is_superuser %}
                    <a href="{% url 'condosync:create_avisos' %}" class="btn-adicionar-aviso">
                        <i class='bx bx-plus'></i> Adicionar Aviso
                    </a>              
                {% endif %}
            </div>
        
            <div class="box-main-avisos">
                {% for aviso in avisos %}
                    <div class="text">
                        <h2>
                            {% if user.is_superuser %}
                                <a href="{% url 'condosync:delete_avisos' aviso.id %}"><i class="bx bx-x"></i></a>
                                <a href="{% url 'condosync:edit_avisos' aviso.id %}"><i class="bx bx-pencil"></i></a>                
                            {% endif %}
                            {{ aviso.titulo }} 
                        </h2>
                        <small>
                            <data value="{{ aviso.data_postagem|date:"d-m-Y" }}">
                                {{ aviso.data_postagem|date:"d/m/Y \à\s H:i" }}
                            </data>
                        </small>
                        <p>{{ aviso.conteudo }}</p>
                    </div>
                {% endfor %}
            </div>
        </main>
        <!-- main section end -->

        <!-- right section start -->
        {% include "condosync/partials/right_section.html" %}
        <!-- right section end -->
    </div>

    <script src="{% static "condosync/js/scripts.js" %}"></script>
</body>
</html>