{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CondoSync | Home</title>
    <link rel="stylesheet" href="{% static 'condosync/css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <!-- side bar section start -->
        {% include "condosync/partials/sidebar.html" %}
        <!-- side bar section end -->

        <!-- main section start -->
        <main>

            <div class="dashboard">
                <i class='bx bxs-dashboard' ></i>
                <h1>DASHBOARD</h1>
            </div>

            <div class="insights">
                <div class="buttons-main">
                    <a id="retirada-encomendas-link" href="{% url "condosync:encomendas" %}">
                       <i class='bx bx-box' ></i>
                       <h1>Retirada de Encomendas</h1>
                   </a>
               </div>
               
               <div class="buttons-main">
                   <a id="sugestoes-melhoria-link" href="{% url "condosync:sugestoes" %}">
                       <i class='bx bx-bulb'></i>
                       <h1>Sugestões para Melhoria</h1>
                   </a>
               </div>
               
               <div class="buttons-main">
                   <a id="cadastramento-veiculos-link" {% if user.is_superuser %} href={% url "condosync:veiculos_admin" %} {% else %} href="{% url "condosync:meus_veiculos" %}" {% endif %}>
                       <i class='bx bx-car'></i>
                       <h1>Cadastro de Veículos</h1>
                   </a>
                </div>
           </div>

            <!-- start box-main -->
            <div class="box-main">
                <h1>Você sabia...? {% if user.is_superuser %} <a href="{% url "condosync:voce_sabia" %}"><i class="bx bx-pencil"></i></a> {% endif %}</h1>
            
                {% if informacao %}
                    <div class="text">
                        <h2>{{ informacao.titulo_1 }}</h2>
                        <p>{{ informacao.conteudo_1 }}</p>
                    </div>
            
                    <div class="text">
                        <h2>{{ informacao.titulo_2 }}</h2>
                        <p>{{ informacao.conteudo_2 }}</p>
                    </div>
                {% else %}
                    <p>Nenhuma informação disponível no momento.</p>
                {% endif %}
            </div>
        </main>
        <!-- main section end -->

        <!-- right section start -->
        {% include "condosync/partials/right_section.html" %}
        <!-- right section end -->
    </div>

    <script src="{% static "condosync/js/scripts.js" %}"></script>
</body>
</html>