{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CondoSync | Home</title>
    <link rel="stylesheet" href="{% static 'condosync/css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <!-- side bar section star -->
        <aside>

            <div class="top">
                <div class="logo">
                    <img src="{% static "condosync/images/CondoSync (png).png" %}" alt="CondoSync logo">
                    <h2>CONDOSYNC</h2>
                </div>
            </div>
            <!-- end top -->

            <div class="sidebar">
                <h4>Menu Principal</h4>
                <a href="#">
                    <i class='bx bx-home-alt' ></i>
                    <h3>Home</h3>
                </a>
                <a href="#">
                    <i class='bx bx-bell'></i>
                    <h3>Avisos</h3>
                </a>
                <a href="#">
                    <i class='bx bx-pencil' ></i>
                    <h3>Ocorrências</h3>
                </a>
                <a href="#">
                    <i class='bx bxs-file-doc' ></i>
                    <h3>Boletos</h3>
                </a>
                <a href="#">
                    <i class='bx bx-football' ></i>
                    <h3>Reservas</h3>
                </a>
                <a href="#">
                    <i class='bx bxs-user'></i>
                    <h3>Funcionarios</h3>
                </a>
                <a href="#">
                    <i class='bx bx-door-open'></i>
                    <h3>Visitantes</h3>
                </a>
                <a href="#">
                    <i class='bx bx-log-out' ></i>
                    <h3>Logout</h3>
                </a>
            </div>
            
        </aside>
        <!-- side bar section end -->

        <!-- main section start -->
        <main>

            <div class="dashboard">
                <i class='bx bxs-dashboard' ></i>
                <h1>DASHBOARD</h1>
            </div>

            <div class="insights">
                 <div class="buttons-main">
                     <a href="">
                        <i class='bx bx-box' ></i>
                        <h1>Retirada de Ecomendas</h1>
                    </a>
                </div>
                
                <div class="buttons-main">
                    <a href="">
                        <i class='bx bx-bulb'></i>
                        <h1>Sugestões para Melhoria</h1>
                    </a>
                </div>
                
                <div class="buttons-main">
                    <a href="">
                        <i class='bx bx-car'></i>
                        <h1>Cadastramento de Veículos</h1>
                    </a>
                 </div>
            </div>

            <!-- start box-main -->
            <div class="box-main">
                <h1>Você sabia...?</h1>
                <div class="text">
                    <h2>Síndico Pode Ser um Profissional</h2>
                    <p>Além de moradores eleitos, hoje em dia existem síndicos profissionais que administram vários condomínios ao mesmo tempo.</p>
                </div>

                <div class="text">
                    <h2>Regras Podem Variar Bastante</h2>
                    <p>Cada condomínio tem autonomia para criar suas próprias regras, desde que respeitem as leis, por isso, um pode permitir pets na área comum e outro não.</p>
                </div> 
            </div>

        </main>
        <!-- main section end -->
         
</body>
</html>