{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CondoSync | Home</title>
    <link rel="stylesheet" href="{% static 'condosync/css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <!-- side bar section star -->
        <aside>

            <div class="top">
                <div class="logo">
                    <img src="{% static "condosync/images/CondoSync (png).png" %}" alt="CondoSync logo">
                    <h2>CONDOSYNC</h2>
                </div>
            </div>
            <!-- end top -->

            <div class="sidebar">
                <h4>Menu Principal</h4>
                <a href="#">
                    <i class='bx bx-home-alt' ></i>
                    <h3>Home</h3>
                </a>
                <a href="#">
                    <i class='bx bx-bell'></i>
                    <h3>Avisos</h3>
                </a>
                <a href="#">
                    <i class='bx bx-pencil' ></i>
                    <h3>Ocorrências</h3>
                </a>
                <a href="#">
                    <i class='bx bxs-file-doc' ></i>
                    <h3>Boletos</h3>
                </a>
                <a href="#">
                    <i class='bx bx-football' ></i>
                    <h3>Reservas</h3>
                </a>
                <a href="#">
                    <i class='bx bxs-user'></i>
                    <h3>Funcionarios</h3>
                </a>
                <a href="#">
                    <i class='bx bx-door-open'></i>
                    <h3>Visitantes</h3>
                </a>
                <a href="#">
                    <i class='bx bx-log-out' ></i>
                    <h3>Logout</h3>
                </a>
            </div>
            
        </aside>
        <!-- side bar section end -->
</body>
</html>